*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'popons', sans-serif;
    background-color: rgb(27,27,27);
    overflow-x: hidden;
}
.header{
    height: 110vh;
    position: sticky;
    background-color: white;
}
.navbar{
    height: 150px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
    background-color: skyblue;
}
.navbar-box{
  font-family: Georgia, sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  color: white;
  align-items: center;
}
.heading-tertiary{
    font-size: 4rem;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 2rem;
    margin-top: 2rem;
    border: 5px solid lightyellow;
    border-radius: 100px;
    transition: all .3s ease;
    box-shadow: 0 1rem 1rem rgba(240,107,55, .1);
    background-color: black;
}
.navbar-list{
    list-style: none;
    font-size: 2rem;
}
.navbar-item{
    display: inline-block;
}
.navbar-link:visited,
.navbar-link:link{
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 2rem;
    margin-top: 2rem;
    border: 5px solid white;
    border-radius: 100px;
    transition: all .3s ease;
    box-shadow: 0 1rem 1rem rgba(240,107,55, .1);
    background-color: #da6b1d;
}
.navbar-link:hover{
    background-color: #84680B;
    color: white;
}
.header-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    border-radius: 2%;
}

.text-title {
    font-size: 4rem;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    border-radius: 2%;
}

.text-decs {
    font-size: 2rem;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    border-radius: 2%;
}
